/Prac2_2/nbproject/private/
/Prac2_2/build/
/Prueba/nbproject/private/
/practica3/nbproject/private/
/practica3/build/
/Practica3/nbproject/private/
/Practica3/build/
/CaidaServer/nbproject/private/
/CaidaServer/build/
/CaidaServer/dist/
/AdelantoPar3_Prac1/nbproject/private/
/AdelantoPar3_Prac1/build/
/Practica3_parcial2/nbproject/private/
/Practica3_parcial2/build/